{% extends 'Base/template.html' %}
{% load static %}
{% block titulo %}
  <title>Inicio de sesion</title>
{% endblock %}

{% block contenido %}


  <div class="container">
    <div class="row">
      <div class="col-6">
        <p class = "text-start fw-bold text-wrap"  style="font-size: 2.7vh;"> Inventario de medicamentos </p>
      </div>
      <div class="col-6">
        <ul class="nav justify-content-end">
      
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/inv/new/"  style="font-size: 2.5vh;">Nuevo Medicamento</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class = "table table-info table-striped table-hover text-center"  style="font-size: 2.5vh;">
      <thead>
          <tr>
              <th class="text-start">#</th>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Registro</th>
              <th></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          {% for i in elem %}
              <tr>
                  <th class="text-start">{{ forloop.counter  }}</th>
                  <td>{{ i.Medicamento }}</td>
                  <td>{{ i.Unidades }}</td>
                  <td>
                    {% if i.Registro %}
                      <p class="text-center">x</p> 
                    {% endif %}
                  </td>
                  <td>
                    <form action="/inv/update" method="get">{% csrf_token %}
                      <input type="hidden" name="id" value="{{ i.id }}">
                      <button type="submit" class = "btn btn-primary mb-3" style = "font-size: 2.5vh;">Editar</button>
                    </form>
                  </td>
                  <td>
                    <form action="/inv/delete/" method="post">{% csrf_token %}
                      <input type="hidden" name="id" value="{{ i.id }}">
                      <button type="submit" class = "btn btn-danger mb-3" style = "font-size: 2.5vh;">Eliminar</button>
                    </form>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}