{% extends 'Base/template.html' %}
{% load static %}
{% block titulo %}
  <title>Inventario</title>
{% endblock %}

{% block contenido %}


  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <h2 class = "text-start fw-bold text-wrap"> Inventario de medicamentos </h2>
      </div>
      <div class="col-lg-8 py-1">
        <div class="row justify-content-end">
          <form action="" method="post" id="medicamento">{% csrf_token %}  
            <div class="row {% if  Formulario.Medicamento.errors %} alert alert-danger {% endif %}">
              
              <div class="col-4">
                  <label for="{{Formulario.Medicamento.id_for_label}}" class="texto">
                      {{Formulario.Medicamento.label}}
                  </label>
              </div>
              <div class="col-8">
                  {{Formulario.Medicamento}} {{Formulario.Medicamento.errors}}
              </div>

            </div>
            
            <div class="row row_form ">
              <div class="col-lg-5 {% if  Formulario.Unidades.errors %} alert alert-danger {% endif %}">
                <div class="row">

                  <div class="col-4">
                    <label for="{{Formulario.Unidades.id_for_label}}" class="texto">
                        {{Formulario.Unidades.label}}
                    </label>
                  </div>
                  <div class="col-6">
                      {{Formulario.Unidades}} {{Formulario.Unidades.errors}}
                  </div>

                </div>
                
              </div>
              <div class="col-lg-5 {% if  Formulario.Registro.errors %} alert alert-danger {% endif %}">
                <div class="row">
                  <div class="col-4">
                    <label for="{{Formulario.Registro.id_for_label}}" class="texto">
                        {{Formulario.Registro.label}}
                    </label>
                  </div>
                  <div class="col-6">
                      {{Formulario.Registro}} {{Formulario.Registro.errors}}
                  </div>
                </div>
                
              </div>
                  
                
            </div>
          
            <button type="submit" value="Enviar" id="inv_Send" class = "btn btn-primary texto">Nuevo Medicamento</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class = "table table-info table-striped table-hover text-center" >
      <thead>
          <tr>
              <th class="text-start title_table_texto">#</th>
              <th class="text-start title_table_texto">Nombre</th>
              <th class="title_table_texto">Cantidad</th>
              <th class="title_table_texto">Registro</th>
              <th></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          {% for i in elem %}
              <tr>
                  <th class="text-start table_texto">{{ forloop.counter  }}</th>
                  <td class="text-start table_texto" id="{{ i.id }}_Medicamento">{{ i.Medicamento }}</td>
                  <td class="table_texto" id="{{ i.id }}_Unidades">{{ i.Unidades|stringformat:"0.2f" }}</td>
                  <td class="table_texto" id="{{i.id }}_Registro">
                    {% if i.Registro %}
                      <p class="text-center">x</p> 
                    {% endif %}
                  </td>
                  <td class="table_texto">
                      <input type="hidden" name="id" value="{{ i.id }}">
                      <button type="" class = "btn btn-primary mb-3" id="{{i.id }}_Edit" onclick="editar_Campo('{{ i.id }}')">Editar</button>
                  </td>
                  <td class="table_texto">
                    <form action="/inv/delete/" method="post">{% csrf_token %}
                      <input type="hidden" name="id" value="{{ i.id }}">
                      <button type="submit" class = "btn btn-danger mb-3" >Eliminar</button>
                    </form>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}